.Distancer{
    padding:20px;
    max-width:1280px;
    margin:auto;
    font-size:10pt;
    padding-top:50px;
    margin-bottom:200px;
    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:14pt;
        border-bottom:1px solid rgba(43, 87, 129, 0.295);
        color:rgb(43, 88, 129);
        font-weight:normal;
        padding-bottom:5px;
    }
    .DistanceGrid{
        display:grid;
        grid-template-columns:70% 30%;
        margin-top:50px;
        margin-bottom:50px;
        .gridItem1{
            div{
                display:inline-block;
                padding-right:10px;
            button{
                background:white;
                width:150px;
                max-width:100%;
                color:rgb(43, 88, 129);
                border:1px solid rgba(43, 87, 129, 0.555);
                text-decoration:none;
                padding:10px 20px 10px 20px;
                border-radius:3px;
                margin-top:10px;
            }
        }
        }
        .gridItem2{
            padding-left:50px;
            box-sizing: border-box;
            img{
                width:100%;
                object-fit:cover;
                height:50vh;
            }
        }
    }
}

.DistanceHeader{
    background:rgb(43, 87, 129);
    height:40vh;
        h1{
            position: absolute;
            width:100%;
            text-align:center;
            top:100px;
            font-weight:100;
            font-size:3vw;
            opacity:1;
            z-index:1;
            color:rgb(255, 255, 255);
        }
        img{
        width:100%;
        opacity:50%;
        object-fit: cover;
        object-position: 50% 30%;
        height:100%;
    
    }
    }