.Header{
background:rgba(0, 0, 0, 0.705);
height:40vh;
    h1{
        position: absolute;
        width:100%;
        text-align:center;
        top:100px;
        font-weight:100;
        font-size:3vw;
        opacity:1;
        z-index:1;
        color:rgb(255, 255, 255);
    }
    img{
    width:100%;
    opacity:50%;
    object-fit: cover;
    object-position:top;
    height:100%;

}
}