.Forside{
    box-sizing:border-box;
    .ForsideGrid{
        box-sizing:border-box;
        display:grid;
        grid-template-columns: 35% 65%;
        padding:20px;
        max-width:1280px;
        margin:auto;
        font-size:10pt;
        padding-top:50px;
        margin-bottom:100px;
        .Ruter{
            margin-left:50px;
        }
        button{
            background:white;
            color:rgb(43, 88, 129);
            border:1px solid rgba(43, 87, 129, 0.555);
            text-decoration:none;
            padding:10px 20px 10px 20px;
            border-radius:3px;
            margin-top:10px;
        }
        .RunGrid{
            display:grid;
            margin-top:40px;
            grid-template-columns: auto auto auto;
            grid-gap:80px;
            button{
                width:100%;
                background:rgb(43, 87, 129);
                color:white;
                border:none;
            }
        }
    }

}