.Om{
    padding:20px;
    max-width:1280px;
    margin:auto;
    font-size:10pt;
    padding-top:50px;
    margin-bottom:100px;
    h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:20pt;
        border-bottom:1px solid rgba(43, 87, 129, 0.295);
        color:rgb(43, 88, 129);
        font-weight:normal;
        padding-bottom:5px;
    }
    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:14pt;
        border-bottom:1px solid rgba(43, 87, 129, 0.295);
        color:rgb(43, 88, 129);
        font-weight:normal;
        padding-bottom:5px;
    }
}