.Om{
    padding:20px;
    max-width:1280px;
    margin:auto;
    font-size:10pt;
    padding-top:50px;
    margin-bottom:200px;
    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:14pt;
        border-bottom:1px solid rgba(43, 87, 129, 0.295);
        color:rgb(43, 88, 129);
        font-weight:normal;
        padding-bottom:5px;
    }
}

.OmHeader{
    background:rgba(43, 87, 129, 0.849);
    height:40vh;
        h1{
            position: absolute;
            width:100%;
            text-align:center;
            top:100px;
            font-weight:100;
            font-size:3vw;
            opacity:1;
            z-index:1;
            color:rgb(255, 255, 255);
        }
        img{
        width:100%;
        opacity:50%;
        object-fit: cover;
        object-position: 50% 23%;
        height:100%;
    
    }
    }